#contact {
    margin-top: 3%;
    color: #D4130C;

    h1 {
        text-align: center;
    }

    #contact-form {
        margin-top: 3%;
        padding: 20px;
        background-image: url('../images/footerbg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        form {
            width: 50%;
            margin: 2% auto auto;
        }

        label {
            font-size: 18px;
        }

        input[type=text],
        input[type=email],
        input[type=tel],
        textarea {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 100%;
            background-color: #FE0000;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #be3636;
        }

        input:focus,
        textarea:focus {
            outline: none;
        }
    }
}