@media only screen and (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;
    }

    header {
        padding-top: 20%;

        #intro {
            width: 80%;
        }

        button {
            margin-top: 3%;
        }

        #search-area {
            width: 90%;
            margin: 2% auto auto;

            input[type=search] {
                width: 70%;
            }

            input[type=submit] {
                width: 30%;
            }
        }
    }

    #services {
        margin: 14% auto 5%;

        #service-card-container {
            flex-wrap: wrap;

            .service-card {
                width: 100%;
                margin-bottom: 5%;
            }
        }

    }

    #foods .foods-card-container .food-card {
        width: 80%;
    }

    #contact #contact-form form {
        width: 95%;
    }

    footer p {
        font-size: 14px;
    }
}