@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    header {
        padding-top: 20%;
        padding-left: 1.1%;

        #intro {
            width: 80%;
        }

        button {
            margin-top: 3%;
        }

        #search-area {
            width: 90%;
            margin: 2% auto auto;

            input[type=search] {
                width: 70%;
            }

            input[type=submit] {
                width: 30%;
            }
        }
    }

    header::before {
        padding: 2px;
    }


    #services {
        margin: 14% auto 5%;

        #service-card-container {
            padding-left: 1.1%;
            flex-wrap: wrap;

            .service-card {
                width: 100%;
                margin-bottom: 5%;
            }
        }

    }

    #foods .foods-card-container .food-card {
        width: 80%;
    }
}